{% load compile_static %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BitJobs</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css"
            href="{% static 'base/stylesheets/base.scss'|compile %}">

    {% block include %}
    {% endblock %}

</head>

<body>

<nav>
    <div class="navWide">
        <ul>
            <li><a href="{% url 'registration_register' %}">Rejestracja</a></li>
            <li><a href="{% url 'auth_login' %}">Logowanie</a></li>
            {% if user.is_authenthicated %}
            <li><a href="{% url 'auth_logout' %}">Wyloguj</a></li>
            {% endif %}
        </ul>

    </div>

    <div class="navNarrow">
        <i class="fa fa-bars fa-2x"></i>
        <div class="narrowLinks hidden">
            <li><a href="{% url 'registration_register' %}">Rejestracja</a></li>
            <li><a href="{% url 'auth_login' %}">Logowanie</a></li>
            {% if user.is_authenthicated %}
            <li><a href="{% url 'auth_logout' %}">Wyloguj</a></li>
            {% endif %}
        </div>
    </div>
</nav>

<div id="top">
    <h1>BitJobs</h1>
</div>

{% block body %}
{% endblock %}

</body>
</html>