{% extends 'base/base.html' %}

{% load compile_static %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}


{% block include_css %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css"
            href="{% static 'base/stylesheets/commission_detail.scss'|compile %}">
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}

{% block body %}
    <div id="content">
        <div id="title">{{ commission.title }}</div>
        <div id="desc">{% trans 'Description' %}: {{ commission.description }}</div>
        <ul id="tags">
        {% for tag in commission.tags.names %}
            <li>
            <a href="{% url 'commission-dashboard' %}?desc={{ tag }}">#{{ tag }} </a>
            </li>
        {% endfor %}
        </ul>

        <ul id="bids">
        {% for bid in commission_bids %}
            <li>
                <div id="bidder">{% trans 'Bidder' %}: {{ bid.bidder }}</div>
                <div id="date">{% trans 'Date' %}: {{ bid.date_added }}</div>
                <div id="comment">{% trans 'Comment' %}: {{ bid.bidder_comment }}</div>
            </li>
        {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <div id="commission-bid-form">
            <form action="{% url 'commission-bid' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} {% trans 'Submit' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
