{% extends 'base/base.html' %}

{% load compile_static %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}


{% block include_css %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css"
            href="{% static 'base/stylesheets/commission_detail.scss'|compile %}">
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {{ commission.title }}
    {{ commission.description }}
    {% for tag in commission.tags.names %}
        <a href="{% url 'commission-dashboard' %}">#{{ tag }} </a>
    {% endfor %}
    <br/>

    <ul>
    {% for bid in commission_bids %}
        <li>
            {{ bid.bidder_comment }}
        </li>
        <li>
            {{ bid.date_added }}
        </li>
    {% endfor %}
    </ul>

    <div id="commission-bid-form">
        <form action="{% url 'commission-bid' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} {% trans 'Submit' %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
