{% extends 'base/base.html' %}

{% load compile_static %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block include_css %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css"
            href="{% static 'base/stylesheets/commission_list.scss'|compile %}">
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}

{% block body %}
    <div id="content">
        {% if comm_list %}
            <table id="commisions">
                    <col width="5">
                    <col width="90">
                    <col width="5">
                    <tr id="title">
                        <td>{% trans 'Name' %}</td>
                        <td>{% trans 'Description' %}</td>
                        <td>{% trans 'Tags' %}</td>
                    </tr>
                {% for comm in comm_list %}
                    <tr>
                        <td> <a href="{% url 'commission-detail' comm.id %}">
                            {{ comm.title }}
                        </a></td>
                        <td>{{ comm.description }}</td>
                        <td>
                            {% for tag in comm.tags.names %}
                            <a href="{% url 'commission-dashboard' %}?desc={{ tag }}">#{{ tag }} </a>
                            {% endfor %}
                        </td>
                        <!--TODO name linking, tags as links to offers-->
                    </tr>
                {% endfor %}
            </table>

            {% if is_paginated %}
                <div class="pagination">
                  <span class="page-links">
                    {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                      <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
                </div>
            {% endif %}

        {% else %}
            <h3>Brak zleceń do wyświetlenia</h3>
        {% endif %}
    </div>
{% endblock %}
