@import 'common.scss';

/* variables */

$text-menu-color: white;
$menu-element-color: white;
$text-logo-color: white;
$top-background-color: darkslategray;

$mobile-menu-width: 50vw;
$mobile-menu-max-width: 150px;

$nav-bar-height: 5vh;

$logo-color: rgb(8,84,79);

/* end variables */


#top {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    margin-right: 2.9vw;
    color: $text-logo-color;
    background-color: $logo-color;
    text-align: center;
    a {
      padding: 0em;
    }
}

nav {
    height: $nav-bar-height;
    background: $logo-color;
    padding-top: 0;
    padding-bottom: 5em;
    overflow: hidden;
    border-bottom: 1px solid $top-background-color;
    border-top: 1px solid $top-background-color;

    .navWide {
        display: none;
        margin: 0 auto;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: stretch;
            font-size: larger;
            li {
                margin: 0.5em;
                a {
                    display: block;
                    padding: 1em;
                    //padding-left: 2em;
                    //padding-right: 2em;
                    text-decoration: none;
                    color: lavenderblush;
                }
                a:hover {
                    //background-color: #555;
                    color: orange;
                }
            }
        }
    }

    #menu-btn {
      color: $menu-element-color;
    }

    .mobile-nav {
      position: absolute;
      display: flex;
      .mobile-menu {
        div {
          flex: 1;
          padding: 1em;
          background-color: $menu-element-color;
          border-bottom: 1px solid $top-background-color;
          border-right: 1px solid $top-background-color;
          border-left: 1px solid $top-background-color;
          width: $mobile-menu-width;
          max-width: $mobile-menu-max-width;
          text-align: center;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
    #top-mobile {
      //margin-left: 10vw;
      margin-right: 0.5vw;
      h1 {
        text-align: right;
        color: $text-logo-color;
      }
      a img {
        display:block;
        margin:auto;
      }
    }
}

.hidden {
    display: none;
}

.mobile-menu {
    display: none;
}

#meta-top {
  background-color: $logo-color;
}

.expand {
    display: flex !important;
    flex-direction: column;
}

@media (min-width: 1100px) {
    nav .navWide {
        display: block;
    }

    nav .mobile-nav {
        display: none;
    }



}
